html, body {
	height: 100%;
}

body {
	margin: 0;
	color: #e3ab45; 
	background-color: #181006;
	scrollbar-color: currentColor transparent;
}
::-webkit-scrollbar {
	width: 0.2rem;
	height: 0;
}
::-webkit-scrollbar-thumb {
	background: currentColor;
}

button {
	width: 2rem;
	height: 2rem;
	padding: 0;
	color: inherit;
	background-color: transparent;
	border-width: 0.1rem;
	border-style: solid;
	border-color: currentColor;
}

input {
	color: inherit;
	border-color: currentColor;
}

svg {
	storke: currentColor;
}

ul {
	padding-left: 0;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.task-entry {
	display: grid;
	grid-template-columns: 10% 80% 10%;
	align-items: center;
}

.task-text {
	padding: 0 1rem;
	word-wrap: break-word
}

.delete-button {
	justify-self: end;
}

#list-frame {
	width: 50%;
	height: 50%;
	padding: 2%;
	border-width: 1rem;
	border-style: solid;
	border-radius: 2em;
	display: flex;
	flex-direction: column;
}

#task-list {
	list-style: none;
	overflow: scroll;
	flex-grow: 1;
}

#task-prompt {
	line-height: 2;
	background: transparent;
	border-width: 0.1rem;
	border-style: solid;
	outline: none;
}
